# Tags

snippet blockquote
	<blockquote>
		${0}
	</blockquote>

snippet body
	<body>
		${0}
	</body>

snippet caption
	<caption>${0}</caption>

snippet code
	<code>${0}</code>

snippet tag "generic tab"
	<$1>${0}</$1>

snippet img
	<img src="${1}" alt="${2}">

snippet img.class
	<img class="${1}" src="${2}" alt="${3}">
